<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webapp-maven-template</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <listener>
  	<listener-class>com.oldox.examples.listener.MyServletContextListener</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.oldox.examples.listener.MyServletContextAttributeListner</listener-class>
  </listener>
  
  <listener>
  	<listener-class>com.oldox.examples.listener.MyHttpSessionListner</listener-class>
  </listener>
  
  <filter>
  	<filter-name>GreetingFilter</filter-name>
  	<filter-class>com.oldox.examples.filter.GreetingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>GreetingFilter</filter-name>
  	<url-pattern>/greeting</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>GreetingServlet</servlet-name>
  	<servlet-class>com.oldox.examples.servlet.GreetingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletListenerServlet</servlet-name>
  	<servlet-class>com.oldox.examples.servlet.ServletListenerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HttpRequestExampleServlet</servlet-name>
  	<servlet-class>com.oldox.examples.servlet.HttpRequestExampleServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>MyServlet1</servlet-name>
  	<servlet-class>com.oldox.examples.servlet.MyServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyServlet2</servlet-name>
  	<servlet-class>com.oldox.examples.servlet.MyServlet2</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>GreetingServlet</servlet-name>
  	<url-pattern>/greeting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletListenerServlet</servlet-name>
  	<url-pattern>/listener</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HttpRequestExampleServlet</servlet-name>
  	<url-pattern>/request</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>MyServlet1</servlet-name>
  	<url-pattern>/MyServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyServlet2</servlet-name>
  	<url-pattern>/MyServlet2</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>1</session-timeout>
  </session-config>
</web-app>